@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* FormStyles.css */

/* Basic styles for form container */
.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for form headings */
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Styles for form labels */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Styles for input fields */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for input fields on focus */
input:focus {
  border-color: #007bff;
  outline: none;
}

/* Styles for form sections */
.form-section {
  margin-bottom: 1.5rem;
}

/* Styles for input fields in form sections */
.form-section input {
  margin-bottom: 0.5rem;
}

/* Styles for buttons */
button {
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for button hover effect */
button:hover {
  background-color: #0056b3;
}
